{% extends 'base.html.twig' %}
{% set urgents = app.session.get('urgents') %}
{% dump(urgents) %}

{% block title %}Vinyles {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon profil</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/login">Se connecter</a></li>
                                <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                                <li><a class="dropdown-item" href="/logout">Mon profil</a></li>
                                 <li><a class="dropdown-item" href="/objet/panier">Mon panier</a></li>

                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">S'inscrire</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <h1>Mon panier </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Titre</th>
                <th>Nb_de_tours</th>
                <th>Neuf</th>
                <th>Annee</th>
                <th>Album</th>
                <th>Duree</th>
                <th> Style </th>
                <th> Format </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objet %}
            {% if objet.id in urgents %}

            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.Titre }}</td>
                <td>{{ objet.NbDeTours }}</td>
                <td>{{ objet.Neuf ? 'Yes' : 'No' }}</td>
                <td>{{ objet.Annee }}</td>
                <td>{{ objet.Album }}</td>
                <td>{{ objet.Duree }}</td>
                <td>{{ objet.style|join(', ') }}</td>
                <td>{{ objet.format|join(', ') }}</td>

        
                <td>
                    <a href="{{ path('app_objet_show', {'id': objet.id}) }}">show</a>
                    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}

        {% else %}
        <tr>
            <td colspan="9">no records found</td>
        
        {% endfor %}
    
            </tr>   
        </tbody>
    </table>

    <a href="{{ path('app_objet_new') }}">Create new</a>
{% endblock %}
