{% extends 'base.html.twig' %}
{% set urgents = app.session.get('urgents') %}
{% dump(urgents) %}

{% block title %} Vinyle {% endblock %}

{% block body %}
    <h1>Vinyle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objet.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ objet.Titre }}</td>
            </tr>
            <tr>
                <th>Nb_de_tours</th>
                <td>{{ objet.NbDeTours }}</td>
            </tr>
            <tr>
                <th>Neuf</th>
                <td>{{ objet.Neuf ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ objet.Annee }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ objet.Album }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ objet.Duree }}</td>
            </tr>
        </tbody>
        <tr>
                <th>Style</th>
                <td>{{ objet.style|join(', ') }}</td>
        </tr>
        <tr>
                <th>Format</th>
                <td>{{ objet.format|join(', ') }}</td>
        </tr>

        </tbody>
    </table>
        


    <a href="{{ path('app_galerie_index') }}">back to galerie</a>

     {% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}">edit</a>
     {% endif %}

     

     <a href="{{ path('objet_mark', {'id': objet.id}) }}">Ajouter au panier</a>

     {% if is_granted('ROLE_ADMIN') %}

    {{ include('objet/_delete_form.html.twig') }}
     {% endif %}


{% endblock %}
