{% extends 'base.html.twig' %}

{% block title %}Galerie index{% endblock %}



{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <h1>Galerie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiee</th>
                <th>Créateur</th>
                <th>Vinyle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galerie in galerie %}
            <tr>
                <td>{{ galerie.id }}</td>
                <td>{{ galerie.description }}</td>
                <td>{{ galerie.publiee ? 'Yes' : 'No' }}</td>
                
                {%  for objet in  galerie.objet %}
                   <td> {{objet}} </td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_galerie_show', {'id': galerie.id}) }}">show</a>
                    <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_galerie_new') }}">Create new</a>
{% endblock %}
