{% extends 'base.html.twig' %}

{% block title %}Objet{% endblock %}

{% block body %}
    <h1>Objet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objet.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ objet.Titre }}</td>
            </tr>
            <tr>
                <th>Nb_de_tours</th>
                <td>{{ objet.NbDeTours }}</td>
            </tr>
            <tr>
                <th>Neuf</th>
                <td>{{ objet.Neuf ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ objet.Annee }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{{ objet.Album }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ objet.Duree }}</td>
            </tr>
        </tbody>
        <tr>
                <th>Style</th>
                <td>{{ objet.style|join(', ') }}</td>
        </tr>
        <tr>
                <th>Format</th>
                <td>{{ objet.format|join(', ') }}</td>
        </tr>

        </tbody>
    </table>

     <a href="{{ path('app_galerie_show', { 'id': galerie.id}) }}">back to galerie</a>
    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}">edit</a>

    {{ include('objet/_delete_form.html.twig') }}
{% endblock %}
